<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registracija</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}">
</head>
<body>
<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <img th:src="@{/img/parking-solid.svg}"
             width="30"
             height="30"
             class="d-inline-block align-top"
             alt="Početna"
             style="color: white"/>
        ParkirajMe
        <img th:src="@{/img/FER_logo.png}"
             height="25"
             class="d-inline-block align-top"
             alt="Početna" style="margin-top: 0.25vh"/>
    </a>
</nav>
<div class="outer-container">
    <div style="display: table-cell; vertical-align: middle;">
        <div class="container-fluid">
            <section class="container">
                <div class="container-page">
                    <form th:action="@{/register}" th:object="${user}" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="dark-grey">Registracija</h3>
                                <br>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <label>Ime</label>
                                        <input type="text" th:field="*{name}" th:value="*{name}" id="name-input"
                                               class="form-control"
                                               th:classappend="${#fields.hasErrors('name')} ? 'is-invalid': ''"
                                               placeholder="npr. Ivo"
                                               required>
                                        <div class="invalid-feedback">
                                            <p th:each="error: ${#fields.errors('name')}" th:text="${error}">...</p>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label>Prezime</label>
                                        <input type="text" th:field="*{surname}" th:value="*{surname}"
                                               id="surname-input"
                                               class="form-control"
                                               th:classappend="${#fields.hasErrors('surname')} ? 'is-invalid': ''"
                                               placeholder="npr. Ivić"
                                               required>
                                        <div class="invalid-feedback">
                                            <p th:each="error: ${#fields.errors('surname')}" th:text="${error}">...</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <label>Email</label>
                                        <input type="email" disabled="true" th:field="*{email}" class="form-control"
                                               id="email-input">
                                        <input type="hidden" th:field="*{email}" name="email"/>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label>Broj telefona</label>
                                        <div class="input-group">
                                            <input type="tel" th:field="*{phone}" th:value="*{phone}"
                                                   placeholder="+385..."
                                                   class="form-control"
                                                   id="phone-input" aria-describedby="optional-addon"
                                                   th:classappend="${#fields.hasErrors('phone')} ? 'is-invalid': ''"
                                            >
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="optional-addon"
                                                      title="Nije nužno unijeti...">?</span>
                                            </div>
                                        </div>
                                        <div class="invalid-feedback">
                                            <p th:each="error: ${#fields.errors('phone')}" th:text="${error}">...</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <label>Lozinka</label>
                                        <input type="password" th:field="*{password}" th:value="*{password}"
                                               class="form-control" id="password-input"
                                               th:classappend="${#fields.hasErrors('password')} ? 'is-invalid': ''"
                                               placeholder="min. 8 znakova"
                                               required>
                                        <div class="invalid-feedback">
                                            <p th:each="error: ${#fields.errors('password')}" th:text="${error}">...</p>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label>Ponovite lozinku</label>
                                        <input type="password" placeholder="Potvrdi lozinku" class="form-control"
                                               id="confirm-password" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="text-align: left;">
                                <h3 class="dark-grey">Uvijeti korištenja</h3>
                                <br>
                                <div th:utext="${@termsOfServiceLoader.getTermsOfService()}">...</div>

                                <button type="submit" class="btn btn-primary">Registriraj se</button>
                            </div>
                        </div>
                        <input type="hidden" th:field="*{roleId}" name="roleId"/>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    <!--
    var password = document.getElementById("password-input")
        , confirm_password = document.getElementById("confirm-password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Lozinka se ne poklapa!");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    function checkPasswordLength() {
        if(password.value.length < 8){
            password.setCustomValidity('Lozinka ne smije biti kraća od 8 znakova.');
        } else {
            password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    password.onkeyup = checkPasswordLength;
    confirm_password.onkeyup = validatePassword;
    -->
</script>
</body>
</html>